<head></head>

<body style="text-align:center">
<div style="display:inline-block;background-color:#fff;margin:0 auto 0 auto;padding:30px 0 30px 0;color:#4f565d;font-size:13px;line-height:20px;font-family:'Helvetica Neue',Arial,sans-serif;text-align:left;">
    <table style="width:550px;text-align:center">
        <tbody>
        <tr>
            <td style="padding:0 0 20px 0;border-bottom:1px solid #e9edee;">
                <a href="http://www.altran.pt" style="display:block; margin:0 auto;" target="_blank">
                    <img src="http://www.altran.pt/fileadmin/templates/main/media/logo/logo_altran.png" width="174" height="80" alt="Altran logo" style="border: 0px;">
                </a>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 0;">
                {{#if approved}}
                <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 20px 10px;font-weight:400;">Congratulations, your idea <strong>{{ideaName}}</strong> has been approved and is now awaiting selection.</p>
                <p style="margin:0 10px 10px 10px;padding:0;">Your idea will now be analyzed by the R&D Committee.</p>
                {{else}}
                <p style="color:#1d2227;line-height:28px;font-size:22px;margin:12px 10px 20px 10px;font-weight:400;">We are sorry, but your idea <strong>{{ideaName}}</strong> was rejected and will not advance to the next phase.</p>
                <p style="margin:0 10px 10px 10px;padding:0;">Thank you for your contribution.</p>
                {{/if}}
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding:30px 0 0 0;border-top:1px solid #e9edee;color:#9b9fa5">
                If you have any questions you can contact us at <a style="color:#666d74;text-decoration:none;" href="mailto:{{ replyTo }}" target="_blank">{{ replyTo }}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>