{{>header pageName="Idea"}}
<div class="container">
    <link rel="stylesheet" href="/css/ideaPage.css">
    <form class="well form-horizontal" action=" " method="post"  id="idea_page">
        <fieldset>

            <!-- Form Name -->
            <legend>{{name}}</legend>

            <!-- Team Leader -->

            <div class="form-group">
                <label class="col-md-4 control-label" >Team Leader</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="team_leader" value="{{leader}}" class="form-control"  type="text" readonly>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Team Members -->

            <div class="form-group">
                <label class="col-md-4 control-label">Team Members</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="state" class="form-control selectpicker" readonly>
                            <option>Members</option>
                            {{#each members}}
                                <option> {{name}} </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

            <!-- Idea Description -->

            <div class="form-group">
                <label class="col-md-4 control-label">Idea Description</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea id="textArea" class="form-control" name="comment" readonly>{{description}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Technical/scientific uncertainty to solve -->

            <div class="form-group">
                <label class="col-md-4 control-label">Technical/scientific uncertainty to solve</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        <textarea id="textArea" class="form-control" name="comment" readonly>{{uncertaintyToSolve}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

                <!-- Unimplementability by someone with technical skills -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Unimplementability by someone with technical skills</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                            <textarea id="textArea" class="form-control" name="comment" readonly>{{solutionTechnicalCompetence}}</textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                        </div>
                    </div>
                </div>

                <!-- Expected human and technological resources -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Expected human and technological resources</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
                            <textarea id="textArea" class="form-control" name="comment" readonly>{{techHumanResources}}</textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                        </div>
                    </div>
                </div>

                <!-- Results to produce by the project -->

                <div class="form-group">
                    <label class="col-md-4 control-label">Results to produce by the project</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-log-out"></i></span>
                            <textarea id="textArea" class="form-control" name="comment" readonly>{{resultsToProduce}}</textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                        </div>
                    </div>
                </div>
        </fieldset>
    </form>

    {{#compare type 6}}
        {{#compare ideaState 3}}
            {{#compare ideaCancelled 0}}
                <div id="validationButtons">
                    <form action="/ideas/{{id}}/validate" method="post">
                        <button type="submit" class="btn btn-success btn-arrow-right validateIdeaButton">Validate idea</button>
                    </form>
                    <form action="/ideas/{{id}}/decline" method="post">
                        <button type="submit" class="btn btn-danger btn-arrow-right declineIdeaButton">Decline idea</button>
                    </form>
                </div>
            {{/compare}}
        {{/compare}}
        <div class="informationIdea">
            <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#informationModal">Idea's information</button>
        </div>

        <div class="modal fade" id="informationModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title modalTextAlign">Idea's Information</h3>
                    </div>
                    <div class="modal-body">
                        {{#compare ideaState 4}}
                            <div class="modalTextAlign">
                                <h4>Idea already in state 4! It was already evaluated!</h4>
                            </div>
                        {{/compare}}
                        {{#compare ideaState ">" 4}}
                            <div class="modalTextAlign">
                                <h4>Idea is on a higher state already, state nº {{ideaState}}!</h4>
                            </div>
                        {{/compare}}
                        {{#compare ideaState "<" 3}}
                            <div class="modalTextAlign">
                                <h4>Idea can't be evaluated yet because is in state {{ideaState}}!</h4>
                            </div>
                        {{/compare}}
                        {{#compare ideaCancelled 1}}
                            <div class="modalTextAlign">
                                <h4>Idea can't be selected because it was rejected before!</h4>
                            </div>
                        {{/compare}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{/compare}}

    {{#compare type 4}}
        <div id="validationButtons">
            <form action="/ideas/{{id}}/commissionDecline" method="post">
                <button type="submit" class="btn btn-danger btn-arrow-right declineIdeaButton_commission">Decline idea</button>
            </form>
        </div>
    {{/compare}}
</div>