{{>header pageName="Idea"}}

<script src="../js/bmc.js"></script>

<div class="container ideaPage">

    {{>actionResults}}

    <link rel="stylesheet" href="/css/ideaPage.css">
    <form class="well form-horizontal" action=" " method="post" id="idea_page">
        <fieldset>

            <!-- Form Name -->
            <legend>{{name}}</legend>

            <!-- Team Leader -->
            <div class="form-group">
                <label class="col-md-4 control-label">Team Leader</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="team_leader" value="{{leader}}" class="form-control" type="text" readonly>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Team Members -->

            <div class="form-group">
                <label class="col-md-4 control-label">Team Members</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select name="state" class="form-control selectpicker" readonly>
                            <option>Members</option>
                            {{#each members}}
                                <option> {{name}} </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>

            <!-- Idea Description -->

            <div class="form-group">
                <label class="col-md-4 control-label">Idea Description</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea id="textArea" class="form-control" name="comment" readonly>{{description}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Technical/scientific uncertainty to solve -->

            <div class="form-group">
                <label class="col-md-4 control-label">Technical/scientific uncertainty to solve</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                        <textarea id="textArea" class="form-control" name="comment"
                                  readonly>{{uncertaintyToSolve}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Unimplementability by someone with technical skills -->

            <div class="form-group">
                <label class="col-md-4 control-label">Unimplementability by someone with technical skills</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                        <textarea id="textArea" class="form-control" name="comment"
                                  readonly>{{solutionTechnicalCompetence}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Expected human and technological resources -->

            <div class="form-group">
                <label class="col-md-4 control-label">Expected human and technological resources</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-piggy-bank"></i></span>
                        <textarea id="textArea" class="form-control" name="comment"
                                  readonly>{{techHumanResources}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <!-- Results to produce by the project -->

            <div class="form-group">
                <label class="col-md-4 control-label">Results to produce by the project</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-log-out"></i></span>
                        <textarea id="textArea" class="form-control" name="comment"
                                  readonly>{{resultsToProduce}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">State of the idea</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-log-out"></i></span>
                        <textarea id="textArea" class="form-control" name="comment" readonly>{{ideaState}}</textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    {{#if canEvaluateIdea}}
        <div id="validationButtons">
            <form action="/ideas/{{id}}/evaluation" method="post">
                <input type="hidden" name="evaluated" value="true"/>
                <button type="submit" class="btn btn-success btn-arrow-right validateIdeaButton">Validate idea</button>
            </form>
            <form action="/ideas/{{id}}/evaluation" method="post">
                <input type="hidden" name="evaluated" value="false"/>
                <button type="submit" class="btn btn-danger btn-arrow-right declineIdeaButton">Decline idea</button>
            </form>
        </div>
    {{/if}}

    {{#if canSelectIdea}}
        <div id="selectionButtons">
            <form action="/ideas/{{id}}/selection" method="post">
                <input type="hidden" name="selected" value="true"/>
                <button type="submit" class="btn btn-success btn-arrow-right validateIdeaButton">Approve idea</button>
            </form>
            <form action="/ideas/{{id}}/selection" method="post">
                <input type="hidden" name="selected" value="false"/>
                <button type="submit" class="btn btn-danger btn-arrow-right declineIdeaButton">Reject idea</button>
            </form>
        </div>
    {{/if}}

    {{#if canGoKickOffIdea}}
        <div id="selectionButtons">
            <form action="/ideas/{{id}}/goKickOff" method="post">
                <input type="hidden" name="goKickOff" value="true"/>
                <button type="submit" class="btn btn-success btn-arrow-right validateIdeaButton">Approve idea</button>
            </form>
            <form action="/ideas/{{id}}/goKickOff" method="post">
                <input type="hidden" name="goKickOff" value="false"/>
                <button type="submit" class="btn btn-danger btn-arrow-right declineIdeaButton">Reject idea</button>
            </form>
        </div>
    {{/if}}

    {{#if canCoachIdea}}
        <div id="buttonContainer">
            <button id="bmcEdit" type="button" data-toggle="collapse" data-target="#bmcContainer" href="#bmcContainer">
                Edit your BMC
            </button>
        </div>

        <div id="bmcContainer" class="container collapse">
            <div class="bmcTitle">
                <h4 id="titleBMC">BUSINESS MODEL CANVAS
                </h4>
            </div>
            <form id="bmcForm" action="/ideas/{{id}}/bmc" method="post">
                <div class="row rowmargin">
                    <div class="textareabmc col-sm-2 col-md-2">
                        <div class="containerBMC">
                            <label id="keyPartnersLabel" class="titleLabelOne" for="keyPartnersTextarea">Key
                                Partners</label>
                            <span id="keyPartnersGly" data-toggle="tooltip" data-placement="bottom"
                                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                  class="glyphicon glyphicon-question-sign glyhiconStyleOne"></span>
                            <textarea id="keyPartnersTextarea" class="form-control" name="keyPartners"></textarea>
                        </div>
                    </div>
                    <div class="textareabmc col-sm-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="containerBMC2">
                                    <label id="keyActivitiesLabel" class="titleLabelTwo" for="keyActivitiesTextarea">Key
                                        Activities</label>
                                    <span id="keyActivitiesGly" data-toggle="tooltip" data-placement="top"
                                          title="What Key Activities do our Value Propositions require?&#13;&#10;Our Distribution Channels?&#13;&#10;Customer Relationships?&#13;&#10;Revenue streams?"
                                          class="glyphicon glyphicon-question-sign glyhiconStyleTwo"></span>
                                    <textarea id="keyActivitiesTextarea" class="form-control"
                                              name="keyActivities"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="containerBMC3">
                                    <label id="keyResourcesLabel" class="titleLabelThree" for="keyResourcesTextarea">Key
                                        Resources</label>
                                    <span id="keyResourcesGly" data-toggle="tooltip" data-placement="top"
                                          title="What Key Resources do our Value Propositions require?&#13;&#10;Our Distribution Channels?&#13;&#10;Customer Relationships?&#13;&#10;Revenue Streams?&#13;&#10;Types of resources? &#13;&#10;Physical Intellectual (brand patents, copyrights, data) and Human Financial"
                                          class="glyphicon glyphicon-question-sign glyhiconStyleThree"></span>
                                    <textarea id="keyResourcesTextarea" class="form-control"
                                              name="keyResources"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textareabmc col-sm-2">
                        <div class="containerBMC">
                            <label id="keyValueLabel" class="titleLabelOne" for="keyValueTextarea">Value
                                Propositions</label>
                            <span id="keyValueGly" data-toggle="tooltip" data-placement="top"
                                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                  class="glyphicon glyphicon-question-sign glyhiconStyleOne"></span>
                            <textarea id="keyValueTextarea" class="form-control" name="valuePropositions"></textarea>
                        </div>
                    </div>
                    <div class="textareabmc col-sm-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="containerBMC2">
                                    <label id="keyCostumerLabel" class="titleLabelTwo" for="keyCostumerTextarea">Customer
                                        Relationships</label>
                                    <span id="keyCostumerGly" data-toggle="tooltip" data-placement="top"
                                          title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                          class="glyphicon glyphicon-question-sign glyhiconStyleTwo"></span>
                                    <textarea id="keyCostumerTextarea" class="form-control"
                                              name="costumerRelationships"></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="containerBMC3">
                                    <label id="keyChannelsLabel" class="titleLabelThree"
                                           for="keyChannelsTextarea">Channels</label>
                                    <span id="keyChannelsGly" data-toggle="tooltip" data-placement="top"
                                          title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                          class="glyphicon glyphicon-question-sign glyhiconStyleThree"></span>
                                    <textarea id="keyChannelsTextarea" class="form-control" name="channels"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="textareabmc col-sm-2">
                        <div class="containerBMC">
                            <label id="keySegmentsLabel" class="titleLabelOne" for="keySegmentsTextarea">Customer
                                Segments</label>
                            <span id="keySegmentsGly" data-toggle="tooltip" data-placement="top"
                                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                  class="glyphicon glyphicon-question-sign glyhiconStyleOne"></span>
                            <textarea id="keySegmentsTextarea" class="form-control" name="costumerSegments"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row rowmargin">
                    <div class="textareabmc col-md-6">
                        <div class="containerBMC">
                            <label id="keyCostLabel" class="titleLabelFour" for="keyCostTextarea">Cost Structure</label>
                            <span id="keyCostGly" data-toggle="tooltip" data-placement="top"
                                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                  class="glyphicon glyphicon-question-sign glyhiconStyleFour"></span>
                            <textarea id="keyCostTextarea" class="form-control" name="costStructure"></textarea>
                        </div>
                    </div>
                    <div class="lowerbmc textareabmc col-md-6">
                        <div class="containerBMC">
                            <label id="keyRevenueLabel" class="titleLabelFour" for="keyRevenueTextarea">Revenue
                                Streams</label>
                            <span id="keyRevenueGly" data-toggle="tooltip" data-placement="top"
                                  title="Who are our Key Partners?&#13;&#10;Who are our key suppliers?&#13;&#10;Which Key Resources are we acquiring from partners?&#13;&#10;Which Key Activities do partners perform?"
                                  class="glyphicon glyphicon-question-sign glyhiconStyleFour"></span>
                            <textarea id="keyRevenueTextarea" class="form-control" name="revenueStreams"></textarea>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <button id="submitBMC" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

    {{/if}}
</div>