{{>header pageName="Manage Ideas"}}
<script src="../js/manageIdeas.js"></script>
<link rel="stylesheet" href="/css/separators.css">
<div class="container">

    {{>actionResults}}

    <header>
        <div class="row">
            <ul class="separators">
                <li id="manageIdeas" class="active"><h4><a href="manageIdeas">MANAGE IDEAS</a></h4></li>
                {{#if isManager}}
                    <li id="manageRaces"><h4><a href="manageRaces">MANAGE RACES</a></h4></li>
                    <li id="manageUsers"><h4><a href="manageUsers">MANAGE USERS</a></h4></li>
                {{/if}}
            </ul>
        </div>

        <div class="header-content">
            <div class="header-content-inner">
                <div class="row">
                    <div class="col-md-9">
                        <h1 id="homeHeading">Manage Ideas</h1>
                    </div>
                    <div class="col-md-3">
                        <div id="imaginary_container">
                            <form action="/manageIdeas" method="get">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control searchWord" placeholder="Search" name="keyword" value=''>
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <table class="table table-hover table-bordered rankingTable">
        <thead class="rankingTableHead">
        <tr>
            <th>Ideas</th>
            <th>Creator of the idea</th>
            <th>State</th>
            <th>Classification</th>
        </tr>
        </thead>
        <tbody>
        {{#if ideas}}
            {{#each ideas}}
                {{#compare state "Cancelled"}}
                <tr class="cancelledLine">
                    <td><a href="/ideas/{{id}}">{{title}}</a></td>
                    <td><a href="/users/{{idCreator}}">{{creator}}</a></td>
                    <td>{{state}}</td>
                    <td><a data-target="#classificationModal" data-toggle="modal" data-id="{{id}}" class="MainNavText" id="MainNavHelp" href="#classificationModal">Classify Idea</a></td>
                </tr>
                {{/compare}}
                {{#compare state "!==" "Cancelled"}}
                <tr class="tablesBackground">
                    <td><a href="/ideas/{{id}}">{{title}}</a></td>
                    <td><a href="/users/{{idCreator}}">{{creator}}</a></td>
                    <td>{{state}}</td>
                    <td><a data-target="#classificationModal" data-toggle="modal" data-id="{{id}}" class="MainNavText" id="MainNavHelp" href="#classificationModal">Classify Idea</a></td>
                </tr>
                {{/compare}}
            {{/each}}
        {{else}}
            <tr>
                <td class="noIdeas" colspan="4">No ideas found.</td>
            </tr>
        {{/if}}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                {{#if keyword}}
                    {{add-pagination "/manageIdeas" page totalPages keyword}}
                {{else}}
                    {{add-pagination "/manageIdeas" page totalPages ""}}
                {{/if}}
            </ul>
        </div>
    </div>

</div>

{{> classification}}
