{{>header pageName="Manage Users"}}
<script src="js/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/sweetalert.css">
<script src="../../js/manageUsers.js"></script>
<link rel="stylesheet" href="/css/separators.css">
<div class="container">

    <header>
        <div class="row">
            <ul class="separators">
                <p class="hello"> Hello {{name}} </p>
                <li id="manageIdeas"><h4><a href="manageIdeas">MANAGE IDEAS</a></h4></li>
                {{#if isManager}}
                    <li id="manageRaces"><h4><a href="manageRaces">MANAGE RACES</a></h4></li>
                    <li id="manageUsers" class="active"><h4><a href="manageUsers">MANAGE USERS</a></h4></li>
                {{/if}}
            </ul>
        </div>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="row">
                    <div class="col-md-6">
                        <h1 id="homeHeading">Manage Users</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6 createAdmin">
                                <button class="btn btn-default newAdminButton" data-toggle="modal" data-target="#createAdminModal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Admin</button>
                            </div>
                            <div class="col-md-6">
                                <div id="imaginary_container">
                                    <form action="/manageUsers" method="get">
                                        <div class="input-group stylish-input-group">
                                            <input type="text" class="form-control searchWord" placeholder="Search" name="keyword" value=''>
                                            <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <table class="table table-hover table-bordered rankingTable">
        <thead class="rankingTableHead">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position in Altran</th>
            <th>Blocked</th>
            <th colspan="2">Actions</th>
        </tr>
        </thead>
        <tbody>
    {{#if users}}
        {{#each users}}
                <tr class="tablesBackground">
                    <td><a href="/users/{{id}}">{{name}}</a></td>
                    <td>{{email}}</a></td>
                    <td>{{type}}
                        <form id="selectLayout-{{email}}" class="input-group" action="/users/{{id}}/typeDescription"  method="post" style="background:transparent;display:inline-table;">
                            <select name="type" style="display:none;background:white;">
                                <option id="unkown" value="0">Unknown</option>
                                <option id="altranMember" value="1">Altran member</option>
                                <option id="Partner" value="2">Partner</option>
                                <option id="Client" value="3">Client</option>
                                <option id="R&DManager" value="4">R&D Manager</option>
                                <option id="R&DCommittee" value="5">R&D Committee</option>
                                <option id="R&DTeam" value="6">R&D Team</option>
                                <option id="technicalDirector" value="7">Technical Director</option>
                                <!--<input type="submit" value="Submit"/>-->
                            </select>
                            {{#isMe email ../email}}
                            <button type="submit" value="Submit" style="display:inline-table; background:none !important;border:none;z-index:1;outline:none;padding:0px;" disabled>
                                <i id="editIcon-{{email}}" class="glyphicon glyphicon-edit" onclick="firstClick(id); return false;"></i>
                            </button>
                            {{/isMe}}
                        </form>

                    </td>
                    {{#if blocked}}
                        <td>Yes</td>
                    {{else}}
                        <td>No</td>
                    {{/if}}

                    <td>{{#unless isAdmin}}
                        {{#if confirmed}}
                            {{#if blocked}}
                                <a href="/users/{{id}}/unblock">Unblock</a>
                            {{else}}
                                <a href="/users/{{id}}/block">Block</a>
                            {{/if}}
                        {{else}}
                            <a href="/users/{{id}}/confirm">Confirm</a>
                        {{/if}}
                    {{/unless}}
                    </td>
                </tr>
        {{/each}}
    {{else}}
        <tr>
            <td class="noUsers" colspan="5">No users found.</td>
        </tr>
    {{/if}}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                {{#if keyword}}
                    {{add-pagination "/manageUsers" page totalPages keyword}}
                {{else}}
                    {{add-pagination "/manageUsers" page totalPages ""}}
                {{/if}}
            </ul>
        </div>
    </div>
</div>

{{>createAdmin}}
