{{>header pageName="Ranking"}}

<div class="container">

    {{>actionResults}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Ranking</h1>
                <hr>
            </div>
        </div>
    </header>

    <table class="table table-hover table-bordered rankingTable">
        <thead class="rankingTableHead">
        <tr>
            <th>Ideas</th>
            <th>Creator of the idea</th>
            <th>State</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        {{#each ideas}}
            {{#compare score 0}}
                <tr>
                    <td><a href="/ideas/{{id}}">{{title}}</a></td>
                    <td><a href="/users/{{idCreator}}">{{creator}}</a></td>
                    <td>{{state}}</td>
                    <td class="noScore">{{score}}</td>
                </tr>
            {{/compare}}
            {{#compare score "!==" 0}}
                <tr>
                    <td><a href="/ideas/{{id}}">{{title}}</a></td>
                    <td><a href="/users/{{idCreator}}">{{creator}}</a></td>
                    <td>{{state}}</td>
                    <td>{{score}}</td>
                </tr>
            {{/compare}}
        {{/each}}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                {{#if keyword}}
                    {{add-pagination "/ranking" page totalPages keyword}}
                {{else}}
                    {{add-pagination "/ranking" page totalPages ""}}
                {{/if}}
            </ul>
        </div>
    </div>

</div>
