{{>header pageName="User Page"}}
{{>actionResults}}

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="../../css/userPage.css">
<script src="../../js/userPage.js"></script>
<link rel="stylesheet" href="/css/ideaPage.css">
<link rel="stylesheet" href="/css/separators.css">
<script src="/js/draftIdeas.js"></script>

<div class="container">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <div class="menu">
                    {{#unless isManager}}
                        <p class="hello"> Hello {{name}} </p>
                    {{/unless}}
                    <div class="row">
                        <ul class="separators">
                            <li id="profile"><h4><a href="profile">PROFILE</a></h4></li>
                            <li id="ideas"><h4><a href="ideas">IDEAS</a></h4></li>
                            {{#unless isManager}}
                            <li id="submit"><h4><a href="submitIdea">SUBMIT IDEA</a></h4></li>
                            {{/unless}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {{#compare page "profile"}}
    <div id="profileDiv" class="profileDiv">
        <div class="well form-horizontal formsBackground"  id="user_page">
            <fieldset>
                <!-- Name -->

                <div class="form-group">
                    <label class="col-md-4 control-label" >Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                            <form class="input-group" style="width:100%;" action="/users/{{id}}/name"  method="post" >
                                <div style="width:calc(100% - 39px);">
                                <input id="name-change" name="name" value="{{name}}" disabled="disabled" class="form-control" style="overflow:auto;" type="text" required>
                                </div>
                                <button id="nameButton-change" class="input-group-addon" style="width:39px;height:34px;" onclick="firstClick(id);  return false;"><i class="glyphicon glyphicon-edit"></i></button>
                                <span id="errorName-change" class="text-danger"></span>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label class="col-md-4 control-label">Email</label>
                    <div class="col-md-4 selectContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

                            <form class="input-group" style="width:100%;" action="/users/{{id}}/email" method="post">
                                <div style="width:calc(100% - 39px);">
                                <input id="email-change" name="email" value="{{email}}" disabled="disabled" class="form-control" style="overflow:auto;" type="email" required>
                                </div>
                                <button id="emailButton-change" class="input-group-addon" style="width:39px;height:34px;" onclick="firstClick(id); return false;" ><i class="glyphicon glyphicon-edit"></i></button>
                                <span id="errorEmail-change" class="text-danger"></span>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Edit Password-->
                <div class="form-group">
                    <label class="col-md-4 control-label">Change Password</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <form class="input-group" style="width:100%;" action="/users/{{id}}/password" method="post">
                                <div style="width:calc(100% - 39px);">
                                    <input id="password-change" name="password" disabled="disabled" class="form-control" type="password" required>
                                </div>
                                <button id="passwordButton-change" class="input-group-addon" style="width:39px;height:34px;" onclick="firstClick(id); return false;" ><i class="glyphicon glyphicon-edit"></i></button>
                                <span id="errorPassword-change" class="text-danger"></span>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- ROLE -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Role</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <input id="type" name="type" value="{{typeDescription}}" disabled="disabled" class="form-control"style="overflow:auto;" type="text">
                                </div>
                            </div>
                        </div>

                    {{#compare typeDescription "Altran member"}}
                        <!-- Collaborator Number -->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Employee nr.</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                    <input name="collaboratorNumber" value="{{colaboratorNum}}" class="form-control"
                                           type="text" readonly>
                                </div>
                            </div>
                        </div>

                        <!-- Job Position / Business Area -->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Job Position/Business Area</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                                    <input name="businessField" value="{{businessField}}" class="form-control"
                                           type="text" readonly>
                                </div>
                            </div>
                        </div>

                        <!-- Associated Manager -->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Associated Manager</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                    <input name="manager" value="{{manager}}" class="form-control" type="text" readonly>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <!-- Referrer -->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Referral</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                    <input name="referral" value="{{referral}}" class="form-control" type="text"
                                           readonly>
                                </div>
                            </div>
                        </div>
                    {{/compare}}
            </fieldset>
        </div>
    </div>
    {{/compare}}

    {{#compare page "ideas"}}
        <div id="ideasDiv" class="ideas">
            <table class="table table-hover table-bordered">
                <thead class="userIdeasTableHead">
                <tr>
                    <th>Idea</th>
                    <th>State</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                {{#if ideas}}
                    {{#each ideas}}
                        <tr class="tablesBackground">
                            <td><a href="/ideas/{{id}}">{{title}}</a></td>
                            <td>{{state}}</td>
                            <td>{{score}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td class="noIdeas" colspan="3">No ideas yet.</td>
                    </tr>
                {{/if}}
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        {{add-pagination page pageNo pageTotal ""}}
                    </ul>
                </div>
            </div>
        </div>
    {{/compare}}
    {{#compare page "submitIdea"}}
        <div id="submitDiv" class="submitIdea">
                <div class="row" id="submit_idea">
                    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
                        <div class="modal-body formsBackground">
                            <div class="modal-body main-submit main-center">
                                <form id="idea-form" method="post" action="submit">
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" id="title" name="title" class="form-control"
                                               value="{{userInfo.draft.title}}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea rows=8 cols=50 type="description" id="description" name="description"
                                                  class="form-control">{{userInfo.draft.description}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="teamIdea">Team name</label>
                                        <input type="text" id="teamIdea" name="teamIdea" class="form-control" value="{{userInfo.draft.teamIdeas}}" >
                                    </div>
                                    <div class="form-group">
                                        <label for="uncertaintyToSolve">Scientific/Technological uncertainty that the
                                            project aims
                                            to solve</label>
                                        <textarea rows=8 cols=50 type="text" id="uncertaintyToSolve"
                                                  name="uncertaintyToSolve"
                                                  class="form-control">{{userInfo.draft.uncertaintyToSolve}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="solutionTechnicalCompetence">Why can't the solutions found be
                                            implemented by
                                            someone
                                            with technical skills in the field?</label>
                                        <textarea rows=8 cols=50 type="text" id="solutionTechnicalCompetence"
                                                  name="solutionTechnicalCompetence" class="form-control">{{userInfo.draft.solutionTechnicalCompetence}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="techHumanResources">Human and technological resources needed
                                            (technologies,
                                            partners, universities, etc.)</label>
                                        <textarea rows=8 cols=50 type="text" id="techHumanResources"
                                                  name="techHumanResources"
                                                  class="form-control">{{userInfo.draft.techHumanResources}}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="results">Results to be produced by the project</label>
                                        <textarea rows=8 cols=50 type="text" id="results" name="results"
                                                  class="form-control">{{userInfo.draft.results}}</textarea>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="saveDraftButton">
                                                <a id="draftButton" class="btn btn-primary btn-block">Save Draft</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="submiteButton">
                                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form> <!-- /form -->
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    {{/compare}}
</div>
